<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="closeModal()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="addSecretNote()" color="success">
        <ion-icon name="save-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-item lines="none">
      <ion-input label="Title" label-placement="floating" fill="outline" [(ngModel)]="title"></ion-input>
    </ion-item>
    <ion-item lines="none">
      <ion-textarea label="Content" rows="8" label-placement="floating" fill="outline" [(ngModel)]="content"></ion-textarea>
    </ion-item>
    <ion-item lines="none">
      <ion-button expand="block" color="secondary" fill="outline" (click)="selectImage()">
        <ion-icon name="image-outline" slot="start"></ion-icon>
        Select Image
      </ion-button>
    </ion-item>
  </ion-list>
  <div *ngIf="image">
    <img [src]="image" style="width: 100%; object-fit: contain; max-height: 200px;">
  </div>
</ion-content>