<ion-header>
  <ion-toolbar>
    <ion-title>Add New Secret Note</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-item>
      <ion-textarea label="Content" label-placement="floating" fill="outline" [(ngModel)]="content"></ion-textarea>
    </ion-item>
  </ion-list>
  <ion-button expand="block" (click)="addSecretNote()">Add Secret Note</ion-button>
</ion-content>