<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="closeModal()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="addTask()" color="success" [disabled]="!title || !description">
        <ion-icon name="save-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-item lines="none">
      <ion-input label="Title" label-placement="floating" fill="outline" [(ngModel)]="title"></ion-input>
    </ion-item>
    <ion-item lines="none">
      <ion-textarea label="Description" label-placement="floating" fill="outline"
        [(ngModel)]="description"></ion-textarea>
    </ion-item>
    <ion-item lines="none">
      <ion-label>Due Date</ion-label>
      <div>
        <ion-datetime-button datetime="dueDate"></ion-datetime-button>
        <ion-modal [keepContentsMounted]="true" style="border-radius: 16px; --border-radius: 16px;">
          <ng-template>
            <ion-datetime id="dueDate" presentation="date" [(ngModel)]="dueDate"></ion-datetime>
          </ng-template>
        </ion-modal>
      </div>
    </ion-item>

    <ion-item lines="none">
      <ion-label>Reminder</ion-label>
      <div>
        <ion-datetime-button datetime="reminderTime"></ion-datetime-button>
        <ion-modal [keepContentsMounted]="true" style="border-radius: 16px; --border-radius: 16px;">
          <ng-template>
            <ion-datetime id="reminderTime" presentation="time" [(ngModel)]="reminderTime"></ion-datetime>
          </ng-template>
        </ion-modal>
      </div>
    </ion-item>
    <!-- <ion-item lines="none">
      <ion-datetime-button datetime="reminderTime"></ion-datetime-button>
      <ion-popover keep-contents-width="true" trigger="reminderTime" trigger="reminderTime" trigger-action="click">
        <ion-datetime id="reminderTime" presentation="time" [(ngModel)]="reminderTime"></ion-datetime>
      </ion-popover>
    </ion-item> -->
    <ion-item lines="none">
      <ion-button expand="block" (click)="selectImage()">Select Image</ion-button>
    </ion-item>
  </ion-list>
  <div *ngIf="image">
    <img [src]="image" style="width: 100%; object-fit: contain; max-height: 200px;">
  </div>
</ion-content>