<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="closeModal()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="saveChanges()" color="success" [disabled]="!editedTitle || !editedDescription">
        <ion-icon name="save-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-item lines="none">
      <ion-input label="Title" label-placement="floating" fill="outline" [(ngModel)]="editedTitle"></ion-input>
    </ion-item>
    <ion-item lines="none">
      <ion-textarea label="Description" label-placement="floating" fill="outline"
        [(ngModel)]="editedDescription" rows="8"></ion-textarea>
    </ion-item>
    <ion-item lines="none">
      <ion-label>Due Date</ion-label>
      <div>
        <ion-datetime-button datetime="editedDueDate"></ion-datetime-button>
        <ion-modal [keepContentsMounted]="true" style="border-radius: 16px; --border-radius: 16px;">
          <ng-template>
            <ion-datetime id="editedDueDate" presentation="date" [(ngModel)]="editedDueDate"></ion-datetime>
          </ng-template>
        </ion-modal>
      </div>
    </ion-item>

    <ion-item lines="none">
      <ion-label>Reminder</ion-label>
      <div>
        <ion-datetime-button datetime="editedReminderTime"></ion-datetime-button>
        <ion-modal [keepContentsMounted]="true" style="border-radius: 16px; --border-radius: 16px;">
          <ng-template>
            <ion-datetime id="editedReminderTime" presentation="time" [(ngModel)]="editedReminderTime"></ion-datetime>
          </ng-template>
        </ion-modal>
      </div>
    </ion-item>

    <ion-item lines="none">
      <ion-select label="Status" label-placement="floating" fill="outline" [(ngModel)]="editedStatus" interface="popover">
        <ion-select-option value="new">New</ion-select-option>
        <ion-select-option value="in-progress">In Progress</ion-select-option>
        <ion-select-option value="completed">Completed</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item lines="none">
      <ion-button expand="block" (click)="selectImage()">Select Image</ion-button>
    </ion-item>
  </ion-list>
  <div *ngIf="editedImage">
    <img [src]="editedImage" style="width: 100%; object-fit: contain; max-height: 200px;">
  </div>
</ion-content>